
/* FONTS */
@font-face{
    font-family:"klavika-regular-italic";
    src:url("klavika-regular-italic.woff");
}

.navbar-inverse .navbar-brand {
    color: #77bb00;
}

.navbar-brand {
    font-family: 'klavika-regular-italic', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'klavika-regular-italic',sans-serif;
    color: #77bb00
}

body {
    font-family: 'klavika-regular-italic', sans-serif;
    color: #000000
}

/* NAVBAR */
.navbar-inverse {
    background-color: #ffffff;
    border-color: #000000;
}

.navbar-logo {
    width: 200px;
    height:50px
}


/* SIDEBAR */
.section.sidebar {
    background-color: #000000;
}

/* BUTTONS */
.btn-default {
    color: #ffffff;
    background-color: #000000;
    border-color: #77bb00
}

.btn-default:focus,.btn-default.focus {
    color: #ffffff;
    background-color:#000000;
    border-color: #77bb00
}

.btn-default:hover {
    color: #ffffff;
    background-color: #000000;
    border-color: #77bb00
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #000000;
    border-color: #77bb00
}

.btn-default:active:hover,.btn-default.active:hover,.open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open>.dropdown-toggle.btn-default.focus {
    color: #ffffff;
    background-color: #000000;
    border-color: #77bb00
}

.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default {
    background-image: none
}

.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled.focus,.btn-default[disabled].focus,fieldset[disabled] .btn-default.focus {
    background-color: #222222;
    border-color: #222222
}

.btn-default .badge {
    color: #222222;
    background-color: #ffffff
}

#bike_type {
    color:#ffffff;
}
